body {
    background-color: #deb0b0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    /* background-color: #cccccc; */
    background-color: #deb0b0;
    border: 2px solid ;
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
    padding-bottom: 5px;
    padding: 3px;
}

.leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 0px;
    border-right: solid 1px #555555;
    padding: 3px;
}

.mainbody {
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 5px;
    padding: 3px;
}

.rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    border-left: solid 1px #555555;
    padding-left: 5px;
    font-size: px;
    padding: 3px;
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    padding-top: 5px;
    position: fixed;
    padding: 3px;
}

.subheader {
    float: right;
}